.question-list {
  padding: 12px;
  display: grid;
  grid-template-rows: 80px auto;
  height: 100vh;
  h1 {
    color: white;
  }
  .content {
    overflow-y: scroll;
    padding: 0 10px 40px 0;
    .loading-container {
      display: flex;
      justify-content: center;
    }
    .question-item {
      margin: 10px 0;
      width: 100%;
      background-color: white;
      border-radius: 4px;
      &.selected {
        background-color: lightblue;
      }
      .question {
        font-weight: 700;
      }
      .status-container {
        margin-top: 20px;
      }
      .difficulty {
        display: flex;
        align-items: center;
      }
    }
  }
}
